body {
    font-family: 'freemono', 'courier new', monospace;
    background-color: #fffffe;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

.post {
	  margin: 0 63px;
    max-width: 800px;
}

code {
	font-family: Courier, "Courier New", Monaco, Tahoma;
	background: #eee;
	color: #333;
	padding: 0px 2px;
    white-space: pre;
}

pre>code {
    display: block;
    overflow-x: auto;
}

h1 {
    margin-bottom: 40px;
}

header h1 a{
  text-decoration: none;
  color: black;
}

footer {
    background: #ccc;
    padding: 5px 10px;
    position: fixed;
    bottom: 0;
    right: 0;
}
img#logo{
    vertical-align: bottom;
}

.post img{
  max-width: 90%;
  max-width: 90vw;
  
}

@media all and (max-width:500px) {
    body{
        max-width: 480px;
    }
   .post { 
       margin-left: 20px;
       margin-right: 20px;
   }
   #header {
       padding-left: 20px;
       text-align: center;
   }
   img#logo, h1{
     margin-left: 0;
     max-width: 90%;
     max-width: calc(100vw - 40px);
   }
}